<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FiltroFilial</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.FiltroFilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOrcamentoFilial</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletOrcamentoFilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOrcamentoRegiao</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletOrcamentoRegiao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOrcArea</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletOrcArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOrcPlataforma</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletOrcPlataforma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOrcRegiao</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletOrcRegiao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOrcMagnitude</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletOrcMagnitude</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOrcCentro</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletOrcCentro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOrcConta</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletOrcConta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOrcTabela</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletOrcTabela</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletResponsavel</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletResponsavel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroNumeros</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletFiltroNumeros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAnalise</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletAnalise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeletFiltroMes</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServeletFiltroMes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSalvarAnalise</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletSalvarAnalise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletChecarUsuario</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletChecarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGravarUsuario</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletGravarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogOut</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControleCombustivel</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletControleCombustivel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroCartao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletFiltroCartao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroCondutor</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletFiltroCondutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroCentroCom</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletFiltroCentroCom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirCombustivel</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletInserirCombustivel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarCombustivel</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletAtualizarCombustivel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltrarIdCombustivel</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletFiltrarIdCombustivel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirCombustivel</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletExcluirCombustivel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroNumerosCombustivel</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletFiltroNumerosCombustivel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOrcDashboard</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletOrcDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOrcPendente</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletOrcPendente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroLocadora</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletFiltroLocadora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltrarIdInfracao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletFiltrarIdInfracao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirInfracao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletInserirInfracao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarInfracao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletAtualizarInfracao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirInfracao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletExcluirInfracao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInfracao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletInfracao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltrarIdManutencao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletFisltrarIdManutencao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroNumerosInfracao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletFiltroNumerosInfracao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroNumerosManutencao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletFiltroNumerosManutencao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirManutencao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletInserirManutencao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarManutencao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletAtualizarManutencao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirManutencao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletExcluirManutencao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletManutencao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletManutencao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltrarIdRevisao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletFiltrarIdRevisao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroNumerosRevisoes</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletFiltroNumerosRevisoes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirRevisao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletInserirRevisao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarRevisao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletAtualizarRevisao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirRevisao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletExcluirRevisao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRevisao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletRevisao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirCartaoCar</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletInserirCartaoCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarCartaoCar</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletAtualizarCartaoCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirCartaoCar</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletExcluirCartaoCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroModeloVeiculo</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletFiltroModeloVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirVeiculo</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletInserirVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarVeiculo</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletAtualizarVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirVeiculo</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletExcluirVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirModeloVeiculo</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletInserirModeloVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarModeloVeiculo</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletAtualizarModeloVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirModeloVeiculo</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletExcluirModeloVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirFilial</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletInserirFilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarFilial</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletAtualizarFilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirFilial</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletExcluirFilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirCondutor</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletInserirCondutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarCondutor</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletAtualizarCondutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirCondutor</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletExcluirCondutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirUsuario</servlet-name>
        <servlet-class>br.com.gestint.configuracaoServlet.ServletInserirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarUsuario</servlet-name>
        <servlet-class>br.com.gestint.configuracaoServlet.ServletAtualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirUsuario</servlet-name>
        <servlet-class>br.com.gestint.configuracaoServlet.ServletExcluirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFrotaDashboard</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletFrotaDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroDashboardInicial</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletFiltroDashboardInicial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaItemTabelaOrcamento</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletConsultaItemTabelaOrcamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaItemTabelaAnalise</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletConsultaItemTabelaAnalise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaItemTabelaCartao</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletConsultaItemTabelaCartao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaItemTabelaCondutor</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletConsultaItemTabelaCondutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaItemTabelaFilial</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletConsultaItemTabelaFilial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaItemTabelaTipoVeiculo</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletConsultaItemTabelaTipoVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaItemTabelaVeiculo</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletConsultaItemTabelaVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaItemTabelaUsuario</servlet-name>
        <servlet-class>br.com.gestint.configuracaoServlet.ServletConsultaItemTabelaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaItemTabelaCombustivel</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletConsultaItemTabelaCombustivel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaItemTabelaInfracao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletConsultaItemTabelaInfracao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaItemTabelaManutencao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletConsultaItemTabelaManutencao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaItemTabelaRevisao</servlet-name>
        <servlet-class>br.com.gestint.administrativoServlet.ServletConsultaItemTabelaRevisao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAnalisePendente</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletAnalisePendente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSalvarAnalisePendente</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletSalvarAnalisePendente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroAnoMes</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletFiltroAnoMes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInserirApoio</servlet-name>
        <servlet-class>br.com.gestint.cadastroServlet.ServletInserirApoio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroCustoTon</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletFiltroCustoTon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroHC</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletFiltroHC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroOutsource</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletFiltroOutsource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroCell</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletFiltroCell</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroKm</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletFiltroKm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroWood</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletFiltroWood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroPower</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletFiltroPower</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroFuel</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletFiltroFuel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroCar</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletFiltroCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroTabelaCustoTon</servlet-name>
        <servlet-class>br.com.gestint.orcamentoServlet.ServletFiltroTabelaCustoTon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FiltroFilial</servlet-name>
        <url-pattern>/FiltroFilial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOrcamentoFilial</servlet-name>
        <url-pattern>/ServletOrcamentoFilial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOrcArea</servlet-name>
        <url-pattern>/ServletOrcArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOrcPlataforma</servlet-name>
        <url-pattern>/ServletOrcPlataforma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOrcRegiao</servlet-name>
        <url-pattern>/ServletOrcRegiao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOrcMagnitude</servlet-name>
        <url-pattern>/ServletOrcMagnitude</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOrcCentro</servlet-name>
        <url-pattern>/ServletOrcCentro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOrcConta</servlet-name>
        <url-pattern>/ServletOrcConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOrcTabela</servlet-name>
        <url-pattern>/ServletOrcTabela</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletResponsavel</servlet-name>
        <url-pattern>/ServletResponsavel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroNumeros</servlet-name>
        <url-pattern>/ServletFiltroNumeros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAnalise</servlet-name>
        <url-pattern>/ServletAnalise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeletFiltroMes</servlet-name>
        <url-pattern>/ServeletFiltroMes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSalvarAnalise</servlet-name>
        <url-pattern>/ServletSalvarAnalise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChecarUsuario</servlet-name>
        <url-pattern>/ServletChecarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGravarUsuario</servlet-name>
        <url-pattern>/ServletGravarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogOut</servlet-name>
        <url-pattern>/ServletLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControleCombustivel</servlet-name>
        <url-pattern>/ServletControleCombustivel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroCartao</servlet-name>
        <url-pattern>/ServletFiltroCartao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroCondutor</servlet-name>
        <url-pattern>/ServletFiltroCondutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroCentroCom</servlet-name>
        <url-pattern>/ServletFiltroCentroCom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirCombustivel</servlet-name>
        <url-pattern>/ServletInserirCombustivel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarCombustivel</servlet-name>
        <url-pattern>/ServletAtualizarCombustivel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltrarIdCombustivel</servlet-name>
        <url-pattern>/ServletFiltrarIdCombustivel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirCombustivel</servlet-name>
        <url-pattern>/ServletExcluirCombustivel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroNumerosCombustivel</servlet-name>
        <url-pattern>/ServletFiltroNumerosCombustivel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOrcDashboard</servlet-name>
        <url-pattern>/ServletOrcDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOrcPendente</servlet-name>
        <url-pattern>/ServletOrcPendente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroLocadora</servlet-name>
        <url-pattern>/ServletFiltroLocadora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltrarIdInfracao</servlet-name>
        <url-pattern>/ServletFiltrarIdInfracao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirInfracao</servlet-name>
        <url-pattern>/ServletInserirInfracao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarInfracao</servlet-name>
        <url-pattern>/ServletAtualizarInfracao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirInfracao</servlet-name>
        <url-pattern>/ServletExcluirInfracao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInfracao</servlet-name>
        <url-pattern>/ServletInfracao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltrarIdManutencao</servlet-name>
        <url-pattern>/ServletFiltrarIdManutencao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroNumerosInfracao</servlet-name>
        <url-pattern>/ServletFiltroNumerosInfracao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroNumerosManutencao</servlet-name>
        <url-pattern>/ServletFiltroNumerosManutencao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirManutencao</servlet-name>
        <url-pattern>/ServletInserirManutencao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarManutencao</servlet-name>
        <url-pattern>/ServletAtualizarManutencao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirManutencao</servlet-name>
        <url-pattern>/ServletExcluirManutencao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletManutencao</servlet-name>
        <url-pattern>/ServletManutencao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltrarIdRevisao</servlet-name>
        <url-pattern>/ServletFiltrarIdRevisao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroNumerosRevisoes</servlet-name>
        <url-pattern>/ServletFiltroNumerosRevisoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirRevisao</servlet-name>
        <url-pattern>/ServletInserirRevisao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarRevisao</servlet-name>
        <url-pattern>/ServletAtualizarRevisao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirRevisao</servlet-name>
        <url-pattern>/ServletExcluirRevisao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRevisao</servlet-name>
        <url-pattern>/ServletRevisao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirCartaoCar</servlet-name>
        <url-pattern>/ServletInserirCartaoCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarCartaoCar</servlet-name>
        <url-pattern>/ServletAtualizarCartaoCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirCartaoCar</servlet-name>
        <url-pattern>/ServletExcluirCartaoCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroModeloVeiculo</servlet-name>
        <url-pattern>/ServletFiltroModeloVeiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirVeiculo</servlet-name>
        <url-pattern>/ServletInserirVeiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarVeiculo</servlet-name>
        <url-pattern>/ServletAtualizarVeiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirVeiculo</servlet-name>
        <url-pattern>/ServletExcluirVeiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirModeloVeiculo</servlet-name>
        <url-pattern>/ServletInserirModeloVeiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarModeloVeiculo</servlet-name>
        <url-pattern>/ServletAtualizarModeloVeiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirModeloVeiculo</servlet-name>
        <url-pattern>/ServletExcluirModeloVeiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirFilial</servlet-name>
        <url-pattern>/ServletInserirFilial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarFilial</servlet-name>
        <url-pattern>/ServletAtualizarFilial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirFilial</servlet-name>
        <url-pattern>/ServletExcluirFilial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirCondutor</servlet-name>
        <url-pattern>/ServletInserirCondutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarCondutor</servlet-name>
        <url-pattern>/ServletAtualizarCondutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirCondutor</servlet-name>
        <url-pattern>/ServletExcluirCondutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirUsuario</servlet-name>
        <url-pattern>/ServletInserirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarUsuario</servlet-name>
        <url-pattern>/ServletAtualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirUsuario</servlet-name>
        <url-pattern>/ServletExcluirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFrotaDashboard</servlet-name>
        <url-pattern>/ServletFrotaDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroDashboardInicial</servlet-name>
        <url-pattern>/ServletFiltroDashboardInicial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaItemTabelaOrcamento</servlet-name>
        <url-pattern>/ServletConsultaItemTabelaOrcamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaItemTabelaAnalise</servlet-name>
        <url-pattern>/ServletConsultaItemTabelaAnalise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaItemTabelaCartao</servlet-name>
        <url-pattern>/ServletConsultaItemTabelaCartao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaItemTabelaCondutor</servlet-name>
        <url-pattern>/ServletConsultaItemTabelaCondutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaItemTabelaFilial</servlet-name>
        <url-pattern>/ServletConsultaItemTabelaFilial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaItemTabelaTipoVeiculo</servlet-name>
        <url-pattern>/ServletConsultaItemTabelaTipoVeiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaItemTabelaVeiculo</servlet-name>
        <url-pattern>/ServletConsultaItemTabelaVeiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaItemTabelaUsuario</servlet-name>
        <url-pattern>/ServletConsultaItemTabelaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaItemTabelaCombustivel</servlet-name>
        <url-pattern>/ServletConsultaItemTabelaCombustivel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaItemTabelaInfracao</servlet-name>
        <url-pattern>/ServletConsultaItemTabelaInfracao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaItemTabelaManutencao</servlet-name>
        <url-pattern>/ServletConsultaItemTabelaManutencao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaItemTabelaRevisao</servlet-name>
        <url-pattern>/ServletConsultaItemTabelaRevisao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAnalisePendente</servlet-name>
        <url-pattern>/ServletAnalisePendente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSalvarAnalisePendente</servlet-name>
        <url-pattern>/ServletSalvarAnalisePendente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroAnoMes</servlet-name>
        <url-pattern>/ServletFiltroAnoMes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInserirApoio</servlet-name>
        <url-pattern>/ServletInserirApoio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroCustoTon</servlet-name>
        <url-pattern>/ServletFiltroCustoTon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroHC</servlet-name>
        <url-pattern>/ServletFiltroHC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroOutsource</servlet-name>
        <url-pattern>/ServletFiltroOutsource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroCell</servlet-name>
        <url-pattern>/ServletFiltroCell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroKm</servlet-name>
        <url-pattern>/ServletFiltroKm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroWood</servlet-name>
        <url-pattern>/ServletFiltroWood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroPower</servlet-name>
        <url-pattern>/ServletFiltroPower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroFuel</servlet-name>
        <url-pattern>/ServletFiltroFuel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroCar</servlet-name>
        <url-pattern>/ServletFiltroCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroTabelaCustoTon</servlet-name>
        <url-pattern>/ServletFiltroTabelaCustoTon</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
